In [4]:
import numpy as np
import pandas as pd

a = np.random.standard_normal((9, 4))
b = pd.DataFrame(a)
b.columns = [['num1', 'num2', 'num3', 'num4']]

a

array([[-0.69455129, -1.454942  ,  1.36122345,  0.36877098],
       [ 0.57902093,  0.59668237,  0.76025806,  2.33034144],
       [-0.44945017,  1.13305023,  0.61528816,  0.968696  ],
       [ 0.80868237, -2.45317475, -0.35500465, -0.14238556],
       [ 1.25708909, -0.08352044, -0.79310304, -2.19165711],
       [-0.14195209, -0.63225525,  0.85437957, -0.23803017],
       [-0.67708119, -1.68798753,  0.79128226, -0.88186473],
       [ 0.47520372,  1.99937677,  0.35811782,  0.49437831],
       [ 0.9029487 ,  0.65224636, -0.39213424, -0.07477805]])

In [5]:
b

       num1      num2      num3      num4
0 -0.694551 -1.454942  1.361223  0.368771
1  0.579021  0.596682  0.760258  2.330341
2 -0.449450  1.133050  0.615288  0.968696
3  0.808682 -2.453175 -0.355005 -0.142386
4  1.257089 -0.083520 -0.793103 -2.191657
5 -0.141952 -0.632255  0.854380 -0.238030
6 -0.677081 -1.687988  0.791282 -0.881865
7  0.475204  1.999377  0.358118  0.494378
8  0.902949  0.652246 -0.392134 -0.074778

In [6]:
b.sum()

num1    2.059910
num2   -1.930524
num3    3.200307
num4    0.633471
dtype: float64

In [7]:
b.mean()

num1    0.228879
num2   -0.214503
num3    0.355590
num4    0.070386
dtype: float64

In [11]:
h5 = pd.HDFStore('/Users/hexj/hexj/db/data/stock/t001.h5','w')
h5['data'] = b
h5.close()
b

       num1      num2      num3      num4
0 -0.694551 -1.454942  1.361223  0.368771
1  0.579021  0.596682  0.760258  2.330341
2 -0.449450  1.133050  0.615288  0.968696
3  0.808682 -2.453175 -0.355005 -0.142386
4  1.257089 -0.083520 -0.793103 -2.191657
5 -0.141952 -0.632255  0.854380 -0.238030
6 -0.677081 -1.687988  0.791282 -0.881865
7  0.475204  1.999377  0.358118  0.494378
8  0.902949  0.652246 -0.392134 -0.074778

In [12]:
h5 = pd.HDFStore('/Users/hexj/hexj/db/data/stock/t001.h5','r')
c = h5['data']
h5.close()
c

OSError: ``/data/stock/test1.h5`` does not exist